# Dépendances
node_modules/

# Build / fichiers compilés
dist/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Variables d'environnement (secrets)
.env
.env.local
.env.*.local